<h1 class="mb-3 bg-dark text-light py-2">Listado de Documentos</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Tipo Documento">
    <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
    <td mat-cell *matCellDef="let element"> {{element.TipoDocumento}} </td>
  </ng-container>

  <ng-container matColumnDef="Agrupamiento">
    <th mat-header-cell *matHeaderCellDef> Agrupamiento </th>
    <td mat-cell *matCellDef="let element"> {{element.Agrupamiento}} </td>
  </ng-container>

  <ng-container matColumnDef="N° Id Br">
    <th mat-header-cell *matHeaderCellDef> N° Id Br </th>
    <td mat-cell *matCellDef="let element"> {{element.IdBr}} </td>
  </ng-container>
 
  <ng-container matColumnDef="Código Cliente">
    <th mat-header-cell *matHeaderCellDef> Codigo Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
  </ng-container>

  <ng-container matColumnDef="FechaEmisión">
    <th mat-header-cell *matHeaderCellDef> Fecha de Emisión </th>
    <td mat-cell *matCellDef="let element"> {{element.Emision}} </td>
  </ng-container>

  <ng-container matColumnDef="FechaVencimiento">
    <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.Vencimiento}} </td>
  </ng-container>

  <ng-container matColumnDef="MontoFacturado">
    <th mat-header-cell *matHeaderCellDef> Monto facturado </th>
    <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
  </ng-container>

  <ng-container matColumnDef="MontoPagado">
    <th mat-header-cell *matHeaderCellDef> Monto pagado </th>
    <td mat-cell *matCellDef="let element"> {{element.Pagado}} </td>
  </ng-container>

  <ng-container matColumnDef="MontoPagar">
    <th mat-header-cell *matHeaderCellDef> Monto a pagar </th>
    <td mat-cell *matCellDef="let element"> {{element.Pendiente}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>